# 1. Extract data of Toronto's Neighorhoods from Wikipedia

Problem 1
Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.

To create the above dataframe:

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that - M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the - neighborhoods separated with a comma as shown in row 11 in the above table.
If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [8]:
soup = BeautifulSoup(source, 'xml')

In [9]:
table=soup.find('table')

In [13]:
#dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [15]:
# Search all the postcode, borough, neighborhood 
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [16]:
df.head()

  Postalcode           Borough                Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [17]:
df=df[df['Borough']!='Not assigned']

In [18]:
df.head()

  Postalcode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [39]:
temp_df=df.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighborhood':'Neighborhood_joined'},inplace=True)

In [40]:
df_merge = pd.merge(df, temp_df, on='Postalcode')

In [41]:
df_merge.drop(['Neighborhood'],axis=1,inplace=True)

In [42]:
df_merge.drop_duplicates(inplace=True)

In [43]:
df_merge.rename(columns={'Neighborhood_joined':'Neighborhood'},inplace=True)

In [49]:
df_merge.head(10)

,Postalcode,Borough,Neighborhood
0,M3A,North York,"Parkwoods, Parkwoods"
2,M4A,North York,"Victoria Village, Victoria Village"
4,M5A,Downtown Toronto,"Regent Park / Harbourfront, Regent Park / Harb..."
6,M6A,North York,"Lawrence Manor / Lawrence Heights, Lawrence Ma..."
8,M7A,Downtown Toronto,"Queen's Park / Ontario Provincial Government, ..."
10,M9A,Etobicoke,"Islington Avenue, Islington Avenue"
12,M1B,Scarborough,"Malvern / Rouge, Malvern / Rouge"
14,M3B,North York,"Don Mills, Don Mills"
16,M4B,East York,"Parkview Hill / Woodbine Gardens, Parkview Hil..."
18,M5B,Downtown Toronto,"Garden District, Ryerson, Garden District, Rye..."

In [50]:
df_merge.shape

(103, 3)

In [51]:
print('The size of the dataframe is: ', df_merge.shape)

The size of the dataframe is:  (103, 3)